<!-- <input type="text" [(ngModel)]="title" />
<button (click)="onBtn()">Cambiar title</button> -->

<div class="contenedor">
  <p>Ejer. 1</p>
  <div class="form">
    <h1>{{ title }}</h1>
    <label for="">Primer edad: </label>
    <input type="number" [(ngModel)]="edadUno" class="mb-4" />
    <label for="">Segunda edad: </label>
    <input type="number" [(ngModel)]="edadDos" class="mb-4" />
    <button class="btn btn-secondary mb-4" (click)="calcularPromedio()">
      Calcular promedio
    </button>
    <button class="btn btn-secondary mb-4" (click)="limpiar()">Limpiar</button>
    <p>Suma: {{ suma }}</p>
    <p>Promedio: {{ promedio }}</p>
  </div>
</div>

<p>Ejer. 2</p>
<!-- <app-login></app-login>
<app-error></app-error>
<app-bienvenida></app-bienvenida> -->

<router-outlet />
